#nomePers{
    position: fixed;
    font: bold 14px/1.5 Georgia, "Times New Roman", Times, serif;
    text-align: center;
    color: #ffffff;
    width: 11%;
    height: auto;
    top: 63%;
    left: 44%;
    border: black ridge 6px;
    border-radius: 10px;
    background: #000817;
}

#fotoPers {
    position: fixed;
    top: 15%;
    left: 12%;
    width: 20%;
    height: 45%;
    margin-left: 420px;
    z-index: 1;
    border: black ridge 6px;
    border-radius: 10px;
}

#imgFundoId{
    position: fixed;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#igreja,
#riquesa,
#exercito,
#povo,
#reinado,
#ano,
#nombreRei{
    position: fixed;
    font: bold 30px/1.5 Georgia, "Times New Roman", Times, serif;
    color: #ffffff;
    background: #000817;
    height: auto;
    border: black ridge 4px;
    border-radius: 10px;
    width: auto;

}

#voltarMenu{
    display: none;
    left: 80%;
    top: 85%;
}

#igreja{
    bottom: 85%;
    right: 65%;
}
#riquesa{
    bottom: 85%;
    right: 50%;
}
#exercito{
    bottom: 85%;
    right: 35%;
}
#povo{
    bottom: 85%;
    right: 23%;
}
#reinado{
    bottom: 20%;
    right: 78%;
}
#ano{
    bottom: 85%;
    right: 84%;
}
#nombreRei{
    bottom: 9%;
    right: 87%;
}

#btEscolhaLeft{
    position: fixed;
    width: 8%;
    bottom: 20%;
    right: 55%;
}

#btEscolhaRight{
    position: fixed;
    width: 8%;
    bottom: 20%;
    right: 38%;
}

#startAndReset button{
    position: fixed;
    font: bold 14px/1.5 Georgia, "Times New Roman", Times, serif;
    z-index: 99999999;
    border: black ridge 4px;
    border-radius: 10px;
    width: 12%;
    height: 7%;

}

#restart{
    display: none;
    top: 33%;
    left: 13%;
}

#start{
    top: 70%;
    left: 40%;
    display: none;
}

#confirmarName{
    top: 50%;
    left: 14%;
    display: none;
}

#digName{
    position: fixed;
    width: 20%;
    top: 40%;
    left: 10%;
    display: none;
}
#imgMetreTemp{
    position: fixed;
    width: 20%;
    height: 45%;
    top: 20%;
    left: 70%;
    border: black ridge 4px;
    border-radius: 10px;
}

#dialogMestreTemp{
    position: fixed;
    width: 25%;
    height: 40%;
    top: 25%;
    left: 40%;
    border: black ridge 4px;
    border-radius: 10px;
    background-color: rgb(29, 118, 219);

}
#nomeDoMDT{
    position: fixed;
    top: 18%;
    left: 47%;
}
#informName{
    position: fixed;
    top: 35%;
    left: 10%;
    display: none;
}

#nameGameOver{
    position: fixed;
    font: bold 50px/1.5 Georgia, "Times New Roman", Times, serif;
    top: 13%;
    left: 8%;
    display: none;
}