body{
    background-image: url(../diversos/imagens/credito.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;

}

h1{
    padding: 140px 0px 0px 350px ;
    font-size: 38px;
}

.autor{
    position: fixed;
    font: bold 17px/1.5em "Times New Roman", serif;
    left: 365px;
}
#nameAutorJ{
    top: 50%
}

.regularLocalName{
    position: fixed;
    left: 700px;
    top: 200px;
}

#autorW{
    position: fixed;
    font: bold 15px/1.5em "Times New Roman", Arial;
    left: 700px;
    top: 230px;

    visibility: hidden;
}

#autorJ{
    position: fixed;
    font: bold 15px/1.5em "Times New Roman", Arial;
    left: 700px;
    top: 230px;

    visibility: hidden;
}

#botaoAutorW,
#botaoAutorJ,
#botaoVoltar{
    position: fixed;
    font: bold 15px/1.5em "Times New Roman", Arial;
    border: #000817 solid 3px;
    border-radius: 2px;
}

#botaoAutorW{
    left: 24%;
    top: 45%;
}

#botaoAutorJ{
    left: 24%;
    top: 58%;
}

#botaoVoltar{
    left: 24%;
    top: 70%;
}