body{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#menu{
    background-image: url("../diversos/imagens/Menu.gif");
}

button{
    padding: 40px 70px 15px 80px;

    font-family: Arial, Helvetica, sans-serif;
}

#botaoStart {
    background-image: url("../diversos/botoes/BotaoStart.png");
    position: absolute;
    top: 450px;
    left: 500px;
}

#botaoCreditos {
    background-image: url("../diversos/botoes/BotaoCreditos.png");
    position: absolute;
    top: 450px;
    left: 800px;
}

#imgTitulo{
    width: 40%;
    height: auto;
    margin-left: 420px;
}

