body{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#menu{
    background-image: url("../diversos/imagens/Menu.gif");
}

button{
    padding: 40px 70px 15px 80px;

    font-family: Arial, Helvetica, sans-serif;
}

#botaoStart {
    background-image: url("../diversos/botoes/BotaoStart.png");
    position: absolute;
    top: 450px;
    left: 500px;


}

#botaoCreditos {
    background-image: url("../diversos/botoes/BotaoCreditos.png");
    position: absolute;
    top: 450px;
    left: 800px;

}

#imgTitulo{
    width: 40%;
    height: auto;
    margin-left: 420px;
    justify-content: center;
    position: absolute;
}

#carregamento {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    opacity: 1;
    transition: opacity 1s ease;
}

#load {
    display: none;
}

.hidden {
    opacity: 0 !important;  
    pointer-events: none;   
}
#btnStart {
    width: 200px;             
    height: 80px;            
    
    background-image: url("../diversos/botoes/BotaoEntrar.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;

    cursor: pointer;
    border-radius: 10px;

    padding: 0;
}

